{
  "refName": "ATLAS-1",
  "serviceType": "ATLAS",
  "serviceConfigs": [
      {
          "name" : "kerberos.auth.enable",
          "value" : "{% if (krb5_kdc_type is defined) and (krb5_kdc_type != 'none') %}true{% else %}false{% endif %}"
        },
        {
          "name" : "hbase_service",
          "ref" : "HBASE-1"
        }, {
          "name" : "hdfs_service",
          "ref" : "HDFS-1"
        }, {
          "name" : "kafka_service",
          "ref" : "KAFKA-1"
       }, {
         "name" : "ranger_service",
         "ref" : "RANGER-1"
      }, {
         "name" : "solr_service",
         "ref" : "SOLR-1"
      }  
  ],
  "roleConfigGroups": [
    {
      "refName": "ATLAS-1-GATEWAY-BASE",
      "roleType": "GATEWAY",
      "base": true
    },
    {
      "refName": "ATLAS-1-ATLAS_SERVER-BASE",
      "roleType": "ATLAS_SERVER",
      "base": true,
      "configs": [
          {
            "name" : "atlas_authentication_method_file",
            "value" : "true"
          },
          {
            "name" : "atlas_admin_password",
            "value" : "{{ atlas_atlas_admin_password }}"
          },
          {
            "name" : "atlas_admin_username",
            "value" : "{{ atlas_atlas_admin_username }}"
          }
      ] 
    }
  ]
}
