{
  "refName": "HIVE_ON_TEZ-1",
  "serviceType": "HIVE_ON_TEZ",
  "roleConfigGroups": [
    {
      "refName": "HIVE_ON_TEZ-1-HIVESERVER2-BASE",
      "roleType": "HIVESERVER2",
      "base": true
    }
  ]
}
