[ {
  "refName": "HostTemplate-Gateway",
  "cardinality": 1,
  "roleConfigGroupsRefNames": [
    "HDFS-1-GATEWAY-BASE",
    "HIVE-1-GATEWAY-BASE",
    "SPARK_ON_YARN-1-GATEWAY-BASE",
    {% if cluster_version_cdh_major|int == 7 %} "TEZ-1-GATEWAY-BASE",
    "ATLAS-1-GATEWAY-BASE",
    "KAFKA-1-GATEWAY-BASE",{% endif %}
    "YARN-1-GATEWAY-BASE" ]
}, {
  "refName": "HostTemplate-Edge",
  "cardinality": 1,
  "roleConfigGroupsRefNames": [
    "HDFS-1-HTTPFS-BASE",
    "HBASE-1-HBASERESTSERVER-BASE",
    "HBASE-1-HBASETHRIFTSERVER-BASE",
    {% if ( cluster_version_cdh_major|int == 5 ) or ( cluster_version_cdh_major|int == 6 ) %} "HIVE-1-HIVESERVER2-BASE",{% endif %}
    {% if cluster_version_cdh_major|int == 7 %} "HIVE_ON_TEZ-1-HIVESERVER2-BASE",
    "KAFKA-1-GATEWAY-BASE",
    "ATLAS-1-GATEWAY-BASE",{% endif %}
    "HUE-1-HUE_SERVER-BASE",
    "HUE-1-HUE_LOAD_BALANCER-BASE",
    {% if (krb5_kdc_type is defined) and (krb5_kdc_type != 'none') %}
    "HUE-1-KT_RENEWER-BASE",
    {% endif %}
    "OOZIE-1-OOZIE_SERVER-BASE",
    "SPARK_ON_YARN-1-GATEWAY-BASE",
    "HIVE-1-GATEWAY-BASE",
    {% if cluster_version_cdh_major|int == 7 %} "TEZ-1-GATEWAY-BASE",{% endif %}
    "YARN-1-GATEWAY-BASE" ]
}, {
  "refName": "HostTemplate-Master1",
  "cardinality": 1,
  "roleConfigGroupsRefNames": [
    "HBASE-1-MASTER-BASE",
    "HDFS-1-NAMENODE-BASE",
    "HDFS-1-FAILOVERCONTROLLER-BASE",
    "HDFS-1-JOURNALNODE-BASE",
    "HIVE-1-HIVEMETASTORE-BASE",
    "HIVE-1-GATEWAY-BASE",
    {% if ( cluster_version_cdh_major|int == 5 ) or ( cluster_version_cdh_major|int == 6 ) %} "SENTRY-1-SENTRY_SERVER-BASE",{% endif %}
    "YARN-1-RESOURCEMANAGER-BASE",
    {% if cluster_version_cdh_major|int == 7 %} "TEZ-1-GATEWAY-BASE",
    "KAFKA-1-GATEWAY-BASE",
    "ATLAS-1-GATEWAY-BASE",
    "ATLAS-1-ATLAS_SERVER-BASE",
    "RANGER-1-RANGER_ADMIN-BASE",
    "RANGER-1-RANGER_USERSYNC-BASE",
    "RANGER-1-RANGER_TAGSYNC-BASE",{% endif %}
    "ZOOKEEPER-1-SERVER-BASE" ]
}, {
  "refName": "HostTemplate-Master2",
  "cardinality": 1,
  "roleConfigGroupsRefNames" : [
    "HBASE-1-MASTER-BASE",
    "HDFS-1-NAMENODE-BASE",
    "HDFS-1-FAILOVERCONTROLLER-BASE",
    "HDFS-1-JOURNALNODE-BASE",
    "HIVE-1-HIVEMETASTORE-BASE",
    "HIVE-1-GATEWAY-BASE",
    {% if ( cluster_version_cdh_major|int == 5 ) or ( cluster_version_cdh_major|int == 6 ) %}"SENTRY-1-SENTRY_SERVER-BASE",{% endif %}
    "YARN-1-RESOURCEMANAGER-BASE",
    {% if cluster_version_cdh_major|int == 7 %} "TEZ-1-GATEWAY-BASE",
    "KAFKA-1-GATEWAY-BASE",{% endif %}
    "ZOOKEEPER-1-SERVER-BASE" ]
}, {
  "refName": "HostTemplate-Master3",
  "cardinality": 1,
  "roleConfigGroupsRefNames": [
    "HBASE-1-MASTER-BASE",
    "HDFS-1-BALANCER-BASE",
    "HDFS-1-JOURNALNODE-BASE",
    "IMPALA-1-CATALOGSERVER-BASE",
    "IMPALA-1-STATESTORE-BASE",
    "HIVE-1-GATEWAY-BASE",
    "SPARK_ON_YARN-1-SPARK_YARN_HISTORY_SERVER-BASE",
    {% if cluster_version_cdh_major < '6' %}
    "SPARK2_ON_YARN-1-SPARK2_YARN_HISTORY_SERVER-BASE",
    {% endif %}
    "YARN-1-JOBHISTORY-BASE",
    {% if cluster_version_cdh_major|int == 7 %} "TEZ-1-GATEWAY-BASE",
    "KAFKA-1-GATEWAY-BASE",
    "ATLAS-1-GATEWAY-BASE",{% endif %}
    "ZOOKEEPER-1-SERVER-BASE" ]
}, {
  "refName": "HostTemplate-Workers",
  "cardinality": 3,
  "roleConfigGroupsRefNames": [
    "HBASE-1-REGIONSERVER-BASE",
    "HDFS-1-DATANODE-BASE",
    "HIVE-1-GATEWAY-BASE",
    "IMPALA-1-IMPALAD-BASE",
    "SPARK_ON_YARN-1-GATEWAY-BASE",
    {% if cluster_version_cdh_major < '6' %}
    "SPARK2_ON_YARN-1-GATEWAY-BASE",
    {% endif %}
    {% if cluster_version_cdh_major|int == 7 %} "TEZ-1-GATEWAY-BASE",
    "SOLR-1-SOLR_SERVER-BASE", 
    "KAFKA-1-GATEWAY-BASE",
    "ATLAS-1-GATEWAY-BASE",
    "KAFKA-1-KAFKA_BROKER-BASE",{% endif %}
    "YARN-1-NODEMANAGER-BASE" ]
} ]
