{
  "refName": "NIFITOOLKITCA-1",
  "serviceType": "NIFITOOLKITCA",
  "serviceConfigs": [
    {
      "name": "nifi.toolkit.tls.ca.server.token",
      "variable": "NIFI_TOOLKIT_TLS_CA_SERVER_TOKEN"
    }
  ],
  "roleConfigGroups": [
    {
      "refName": "NIFITOOLKITCA-1-NIFI_TOOLKIT_SERVER-BASE",
      "roleType": "NIFI_TOOLKIT_SERVER",
      "base": true
    }
  ]
}