{
  "refName": "NIFIREGISTRY-1",
  "serviceType": "NIFIREGISTRY",
  "serviceConfigs": [
     ],
  "roleConfigGroups": [
     {
      "refName" : "NIFIREGISTRY-1-NIFI_REGISTRY_SERVER-BASE",
      "roleType" : "NIFI_REGISTRY_SERVER",
      "base": true
    }
  ]
}
