{
  "refName": "SPARK2_ON_YARN-1",
  "serviceType": "SPARK2_ON_YARN",
  "serviceConfigs": [
    {
      "name": "yarn_service",
      "ref": "YARN-1"
    }
  ],
  "roleConfigGroups": [
    {
      "refName": "SPARK2_ON_YARN-1-GATEWAY-BASE",
      "roleType": "GATEWAY",
      "base": true
    }, {
      "refName": "SPARK2_ON_YARN-1-SPARK2_YARN_HISTORY_SERVER-BASE",
      "roleType": "SPARK2_YARN_HISTORY_SERVER",
      "configs": [],
      "base": true
    }
  ]
}