{
  "refName": "ZOOKEEPER-1",
  "serviceType": "ZOOKEEPER",
  "serviceConfigs": [
    {
      "name": "zookeeper_datadir_autocreate",
      "value": "true"
    }
  ],
  "roleConfigGroups": [
    {
      "refName": "ZOOKEEPER-1-SERVER-BASE",
      "roleType": "SERVER",
      "configs": [
        {
          "name": "dataDir",
          "variable": "DATADIR"
        },
        {
          "name": "dataLogDir",
          "variable": "DATALOGDIR"
        },
        {
          "name": "maxClientCnxns",
          "variable": "MAXCLIENTCNXNS"
        }
      ],
      "base": true
    }
  ]
}