[mysqld]
datadir   = {{ mysql_datadir }}
socket    = {{ mysql_socket }}
port      = {{ mysql_port }}

transaction-isolation = READ-COMMITTED
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0

key_buffer         = 16M
key_buffer_size    = 32M
max_allowed_packet = 32M
thread_stack       = 256K
thread_cache_size  = 64
query_cache_limit  = 8M
query_cache_size   = 64M
query_cache_type   = 1

max_connections    = 550
# expire_logs_days = 10
# max_binlog_size  = 100M

# log_bin should be on a disk with enough free space
# Replace '/var/lib/mysql/mysql_binary_log' with an appropriate path for your system
# and chown the specified folder to the mysql user.
log_bin       = {{ mysql_log_bin }}
binlog_format = mixed

read_buffer_size     = 2M
read_rnd_buffer_size = 16M
sort_buffer_size     = 8M
join_buffer_size     = 8M

# InnoDB settings
innodb_file_per_table           = 1
innodb_flush_log_at_trx_commit  = 2
innodb_log_buffer_size          = 64M
innodb_buffer_pool_size         = 4G
innodb_thread_concurrency       = 8
innodb_flush_method             = O_DIRECT
innodb_log_file_size            = 512M

[mysqld_safe]
log-error = {{ mysql_log }}
pid-file  = {{ mysql_pid_file }}

[mariadb]
log-bin = mysql-bin
server-id = 1
log-basename = master1
bind-address=0.0.0.0
