[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log

[libdefaults]
 default_realm = {{ krb5_realm }}
 dns_lookup_realm = false
 dns_lookup_kdc = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true
 default_tgs_enctypes = aes256-cts
 default_tkt_enctypes = aes256-cts
 udp_preference_limit = 1
 kdc_timeout = 3000

[realms]
 {{ krb5_realm }} = {
  kdc = {{ kdc }}
 }

[domain_realm]
 .{{ cluster_domain }} = {{ krb5_realm }}
 {{ cluster_domain }} = {{ krb5_realm }}
