---

- include_vars: ../../../group_vars/db_server.yml

- name: Install the Cloudera Manager Server Packages
  yum:
    name:
    - cloudera-manager-daemons
    - cloudera-manager-server
    - cloudera-manager-agent
    state: installed

- name: Prepare Cloudera Manager Server External Database
  command: |
    {{ scm_prepare_database_script_path }}  -f
    --host {{ hostvars[db_hostname]['inventory_hostname'] }}
    {{ database_type }} {{ databases.scm.name }} {{ databases.scm.user }} {{ databases.scm.pass }}
  changed_when: False

- name: Create CSD directory
  file:
    path: /opt/cloudera/csd
    state: directory
    owner: cloudera-scm
    group: cloudera-scm
    mode: 0755

- name: Download CSDs
  get_url:
    url: "{{ item }}"
    dest: /opt/cloudera/csd
    mode: 0644
  with_items: "{{ scm_csds }}"

- name: Start the Cloudera Manager Server
  service:
    name: "{{ item }}"
    state: started
    enabled: yes
  notify:
    - wait cloudera-scm-server
  with_items:
    - cloudera-scm-server
    - cloudera-scm-agent

# Trigger handler to wait for SCM to startup
- meta: flush_handlers

- name: Get Cloudera Manager API version
  uri:
    url: http://{{ hostvars[scm_hostname]['inventory_hostname'] }}:{{ scm_port }}/api/version
    method: GET
    status_code: 200
    user: "{{ scm_default_user }}"
    password: "{{ scm_default_pass }}"
    force_basic_auth: yes
    return_content: yes
  register: result

# Set base CM API URL
- set_fact:
    cm_api_url: "http://{{ hostvars[scm_hostname]['inventory_hostname'] }}:{{ scm_port }}/api/{{ result.content }}"

- debug:
    var: cm_api_url
    verbosity: 1

# Install Cloudera Manager Python API
- include: api.yml

# Retrieve auto-generated host IDs from SCM
- name: Get SCM hostIds for inventory hosts
  action: scm_hosts
  register: scm_hosts_result

- set_fact:
    scm_host_ids: "{{ scm_hosts_result.host_ids }}"

- debug:
    var: scm_host_ids
    verbosity: 1

- set_fact:
    scm_host_names: "{{ scm_hosts_result.host_names }}"

- debug:
    var: scm_host_names
    verbosity: 1

- include: license.yml
- include: scm.yml
- include: cms.yml
