[logging]
  default = FILE:/var/log/krb5libs.log
  kdc = FILE:/var/log/krb5kdc.log
  admin_server = FILE:/var/log/kadmind.log

[libdefaults]
  ticket_lifetime = 1d
  renew_lifetime = 7d
  default_realm = {{ krb5_realm|upper }}
  dns_lookup_realm = false
  dns_lookup_kdc = false
  forwardable = true
  permitted_enctypes = rc4-hmac aes256-cts
  udp_preference_limit = 1
  kdc_timeout = 3000

[realms]
  {{ krb5_realm|upper }} = {
    kdc = {{ hostvars[groups['krb5_server'][0]]['inventory_hostname'] }}
    admin_server = {{ hostvars[groups['krb5_server'][0]]['inventory_hostname'] }}
    default_domain = {{ ansible_fqdn.split('.')[1:]|join('.') }}
  }

[domain_realm]
  .{{ ansible_fqdn.split('.')[1:]|join('.') }} = {{ krb5_realm|upper }}
  {{ ansible_fqdn.split('.')[1:]|join('.') }} = {{ krb5_realm|upper }}
