[kdcdefaults]
  kdc_ports = 88
  kdc_tcp_ports = 88

[realms]
  {{ krb5_realm|upper }} = {
    max_renewable_life = 7d
    master_key_type = aes256-cts
    acl_file = /var/kerberos/krb5kdc/kadm5.acl
    dict_file = /usr/share/dict/words
    admin_keytab = /var/kerberos/krb5kdc/kadm5.keytab
    supported_enctypes = {{ krb5_enc_types }}
  }